
.nav-bar1 {
    background-color: black;
    width : 100vw;
    height: 6rem;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    top : 0;
}
.nav-bar-block{
    display: flex;
    padding: 1.5rem;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.nav-bar-login {
    margin-right: 2rem;
    font-size: 2rem;
}

.nav-bar-img {
    margin: 0.5rem;
    width: 5rem;
    height : 5rem;
    margin-left: 1rem;
    border-radius: 50%;
}

.nav-bar-register {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.nav-bar-title {
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: space-around;
}

.nav-bar-block2 {
    display: flex;
}

.nav-bar-parametre {
    width: 3rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
}

.nav-bar-logos {
    display: flex;
}
