{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'navbar/navbar-log.html.twig' %}

{% endblock %}

{% block title %}
    Bienvenue {{ user.firstname }}
{% endblock %}

{% block content %}
<main>
    <h1 class="homepage-user-title">Bienvenue sur martine dégage</h1>
<section class="trip-choice-display">
    <div class="first-trip">
        <img src ="assets/images/bora-bora.avif" class="trip-choice_img">
        <h2 class="trip-choice-title">Voyage 1</h2>
        <p class="trip-choice-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <div class="trip-choice-button-div">
        <a class="trip1-choice-button">Choisir ce voyage</a>
        </div>
    </div>
    <div class="second-trip">
        <img src ="assets/images/respiration.jpg" class="trip-choice_img">
        <h2 class="trip-choice-title">Voyage 2</h2>
        <p class="trip-choice-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <div class="trip-choice-button-div">
        <a class="trip2-choice-button">Choisir ce voyage</a>
        </div>
    </div>
    <div class="third-trip">

        <img src="assets/images/72801601.jpg" class="trip-choice_img">
        <h2 class="trip-choice-title">Voyage 3</h2>
        <p class="trip-choice-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <div class="trip-choice-button-div">
        <a class="trip3-choice-button">Choisir ce voyage</a>
        </div>
    </div>
</section>
    <script></script>
</main>
{% endblock %}
