{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'navbar/navbar-log.html.twig' %}

{% endblock %}

{% block title %}
    Bienvenue {{ user.firstname }}
{% endblock %}

{% block content %}
    <main>
        <h1 class="homepage-user-title-h1">Offrez-vous du temps en envoyant martine en voyage !</h1>
        <section class="trip-choice-display">
            <div class="first-trip">
                <img src="assets/images/bora-bora.avif" class="trip-choice_img">
                <h2 class="trip-choice-title">Un voyage inoubliable</h2>
                <p class="trip-choice-text">"Un superbe voyage dans des destinations de rêves pour profiter de la météo
                    et du
                    paysage ! Des souvenirs incroyables à partager à son retour ! "
                </p>
                <div class="trip-choice-button-div">
                    <a href="/searchGoodTrips" class="trip1-choice-button">Rechercher un voyage</a>
                </div>
            </div>
            <div class="second-trip">
                <img src="assets/images/respiration.jpg" class="trip-choice_img">
                <h2 class="trip-choice-title">Un voyage pour l'oublier</h2>
                <p class="trip-choice-text">"De beaux voyages afin de profiter du calme... Du temps pour vous et pour
                    elle."
                </p>
                <div class="trip-choice-button-div">
                    <a href="searchAwayTrips" class="trip2-choice-button">Rechercher un voyage</a>
                </div>
            </div>
            <div class="third-trip">
                <img src="assets/images/72801601.jpg" class="trip-choice_img">
                <h2 class="trip-choice-title">Un voyage à oublier</h2>
                <p class="trip-choice-text">"Un message à faire passer, une rancœur à exprimer... Vous trouverez ici
                    des
                    idées
                    de voyage pour cela ! Faites-vous plaisir&nbsp!"
                </p>
                <div class="trip-choice-button-div">
                    <a href="searchExtremeTrips" class="trip3-choice-button">Rechercher un voyage</a>
                </div>
            </div>
        </section>
        <script></script>
    </main>
{% endblock %}
