.modify-profile-title {
    font-family: var(--fontText);
}

.bg-image {
    background-image: url("../images/fondForm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    filter: blur(8px);
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modify-form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 40vw;
    z-index: 10;
}

.modify-profile-title {
    color: #eee;
    font-family: var(--fontText);
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic2 {
    margin-top: 20px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.subtitle {
    color: #eee;
    font-family: var(--fontText);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.labelModify {
    color: #65657b;
    font-family: var(--fontText);
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .labelModify,
.input:not(:placeholder-shown) ~ .labelModify {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .labelModify {
    color: #808097;
}

.input:focus ~ .labelModify {
    color: #dc2f55;
}

.submit {
    background-color: var(--softTravel);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 48px;
/ / outline: 0;
    text-align: center;
    width: 100%;
}

.submit, a {
    text-decoration: none;
    color: white;
}

.submit:active {
    background-color: #06b;
}
