.search-trips-body-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form-container {
    grid-column: 0/1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.goodTrips {
        border-right: 3px solid var(--softTravel);
    }

}

.all-trips-container {
    grid-column: 2/4;

}

.good-trips-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten(#1A579F, 50%);
}

.trip-image {
    height: 400px;
    width: 700px;
    border-radius: 20px;
}

.goodTripsTitle {
    color: var(--softTravel);
    padding: 32px;
    font-family: var(--fontTitle);
}

.goodTripsText, .awayTripsText {
    text-align: center;
    padding: 8px 16px 8px 16px;
    line-height: 24px;
    width: 66%;
    font-family: var(--fontText);
}

.searchTripsErrors {
    color: red;
    list-style: none;
}

.goodTripsForm, .awayTripsForm {
    select {
        margin-bottom: 16px;
        text-align: center;
        color: white;
        padding: 6px;
        border-radius: 10px;
        font-size: clamp(16px, 1.5em, 2.5vw);

        option {
            &:hover {
                background-color: white;
            }
        }
    }

    button {
        color: white;
        font-weight: bold;
        padding: 8px;
        border-radius: 10px;
        text-align: center;
        border: 0;
        margin-top: 16px;
        font-size: clamp(16px, 1.5em, 2.5vw);
        font-family: var(--fontText);

        &:hover {
            background-color: white;
        }

        &:active {
            scale: 0.8;
        }
    }
}

.goodTripsForm {
    select {
        background-color: var(--softTravel);

        option {
            &:hover {
                color: var(--softTravel);
            }
        }
    }

    button {
        background-color: var(--softTravel);

        &:hover {
            color: var(--softTravel);
            border: 2px solid var(--softTravel)
        }
    }
}

.good-trips-result-title {
    padding: 32px 16px 6px 16px;
    width: 70%;
    text-align: center;
    color: var(--softTravel);
    margin-bottom: 32px;
    font-family: var(--fontTitle);
}

.trip-destination {
    font-size: clamp(24px, 2em, 2.5vw);
    line-height: 64px;
    width:45%;
    font-family: var(--fontText);
}

.trip-name-select {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 32px;
    width: 700px;
}

.goodSelectTrip, .awaySelectTrip, .extremeSelectTrip {
    text-decoration: none;
    color: var(--softTravel);
    font-size: 32px;
    line-height: 64px;
    padding: 0 16px 0 16px;
    border-radius: 24px;
    font-family: var(--fontText);

    &:hover {
        background-color: var(--softTravel);

        color: white;
    }

    &:active {
        scale: 0.8;
    }
}

// Away trips style

.awayTripsTitle {
    color: var(--mediumTravel);
    padding: 32px;
    font-family: var(--fontTitle);
}

.awayTripsForm {
    select {
        background-color: var(--mediumTravel);

        option {
            &:hover {
                color: var(--mediumTravel);
            }
        }
    }

    button {
        background-color: var(--mediumTravel);

        &:hover {
            color: var(--mediumTravel);
            border: 2px solid var(--mediumTravel)
        }
    }
}

.away-trips-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten(#12B556, 50%);
}

.form-container.away-trips {
    border-right: 3px solid var(--mediumTravel);
}

.awaySelectTrip {
    color: var(--mediumTravel);

    &:hover {
        background-color: var(--mediumTravel);
    }
}
.extremeSelectTrip {
    color: var(--extremeTravel);
    border:1px solid var(--extremeTravel);
    font-family: var(--fontText);
    &:hover {
        background-color: var(--extremeTravel);
    }
}
.extreme-trips-body-container {
    display:flex;
    margin-top:32px;
    gap:32px;
    flex-wrap:wrap;
    justify-content:center;
}
.away-trips-result-title {
    padding: 32px 16px 6px 16px;
    width: 70%;
    text-align: center;
    color: var(--mediumTravel);
    margin-bottom: 32px;
    font-family: var(--fontTitle);
}
.away-trip-destination, .extreme-trip-destination {
    line-height:32px;
}
.link-select-container {
    margin:0;
}
.awaySelectTrip {
    padding:8px;
    border:1px solid var(--mediumTravel);
    font-family: var(--fontText);
}
.no-trip {
    text-align:center;
    padding-top:32px;
}
