@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap%27');
@import "navbar/navbar.css";
@import 'homepage/homepage.css';
@import "homepage/homepageLogin.css";
@import "animationModal.css";


body {
    margin: 0;
    background-color: #f4fefe;
    overflow-x: hidden;
}

main {
    margin : 1.5rem;
}

:root {
    --mediumTravel: #12B556;
    --softTravel: #1A579F;
    --extremeTravel: #A8120E;
}
