<nav class="nav-bar1">

    <div class="nav-bar-block2">
        <img src="assets/images/DALL·E 2022-11-24 16.30.00 - martine go for trip.png" class="nav-bar-img">

        <h2 class="nav-bar-title">martine degage</h2>
    </div>
    <div>
        <a>
            <img class="nav-bar-parametre" src="assets/images/settings.png">
        </a>
        <a >
            Logout
        </a>
    </div>
</nav>
