<nav class="nav-bar">

    <div class="nav-bar-block2">
        <img src="assets/images/DALL·E 2022-11-24 16.30.10 - martine go for trip.png" class="nav-bar-img">

        <h2 class="nav-bar-title">martine part en voyage</h2>
        </div>
    <div class="nav-bar-block">
        <a class="nav-bar-subscribe" >
            Inscription
        </a>
        <a class="nav-bar-login">
            Login
        </a>
    </div>
</nav>
