<nav class="nav-bar1">

    <div class="nav-bar-block2">
        <a href="/HomePage">
        <img src="assets/images/DALL·E 2022-11-24 16.30.00 - martine go for trip.png" class="nav-bar-img">
        </a>
        <h2 class="nav-bar-title">martine degage</h2>
    </div>
    <div class="nav-bar-logos">
        <a href="/modifyUser">
            <img class="nav-bar-parametre" src="assets/images/user (1).png">
        </a>
        <a href="/logout">
            <img class="nav-bar-parametre" src="assets/images/exit.png">
        </a>
    </div>
</nav>
