<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#inscription">
    Inscription
</button>

<!-- Modal -->
<div class="modal fade" id="inscription" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="32767"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">S'inscrire</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form method="post" action="inscription">
                            <div class="form-control">
                                <input type="text" name="firstname" required> <label>Prénom</label>
                            </div>
                            <div class="form-control">
                                <input type="text" name="lastname" required> <label>Nom</label>
                            </div>
                            <div class="form-control">
                                <input type="email" name="email" required> <label>Adresse mail</label>
                            </div>
                            <div class="form-control">
                                <input type="password" name="password1" required> <label>Mot de passe</label>
                            </div>
                            <div class="form-control">
                                <input type="password" name="password2" required> <label>Confirmation du mot de passe</label>
                            </div>
                            <button class="btn btn-form-connexion btn-light">Se connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
