<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#connexion">
    Connexion
</button>

<!-- Modal -->
<div class="modal fade" id="connexion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Se connecter</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="form-control">
                            <input type="text" name="mail" required> <label>Adresse mail</label>
                        </div>
                        <div class="form-control">
                            <input type="password" name="password" required> <label>Mot de passe</label>
                        </div>
                        <button class="btn btn-form-connexion btn-light ">Se connecter</button>
                    </form>
                </div>
                {#                    <div class="mb-3 inputBox"> #}
                {#                        <label for="email-connexion" class="form-label"></label> #}
                {#                        <input type="email" class="form-control " id="email-connexion" name="email"><span>Email</span> #}

                {#                    </div> #}
                {#                    <div class="mb-3"> #}
                {#                        <label for="password-connexion" class="form-label">Password</label> #}
                {#                        <input type="password" class="form-control" id="password-connexion" name="password"> #}
                {#                    </div> #}
                {#                    <div> #}
                {#                        <input type="submit" class="btn btn-primary" value="Submit"> #}
                {#                    </div> #}
                {#                </form> #}
            </div>
        </div>
    </div>
</div>
