.trip-choice-display  {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}

.first-trip {
    width: 80%;
    margin:3rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px dimgray;
    background: #c3daf5;

}

.first-trip:hover {
    width : 82%;
    padding: 1.5rem;
    margin : 2rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
}
.trip-choice_img {
    width: 30rem;
    height: 25rem;
    border-radius: 0.5rem;
    margin : 0.5rem;
}

.trip-choice-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.trip-choice-text {
    margin :1rem;
}

.trip1-choice-button {
    margin-left : 6.5rem;
    margin-right: 6.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1.2rem;
    background-color: #eeeeee;
    border-radius: 2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;

}

.trip1-choice-button:hover {
    color: white;
    background-color: #1A579F;
    box-shadow: 2px 2px 5px dimgray, -2px -2px 5px dimgray;
}

.trip2-choice-button {
    margin-left : 6.5rem;
    margin-right: 6.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1.2rem;
    background-color: #eeeeee;
    border-radius: 2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;

}

.trip2-choice-button:hover {
    color: white;
    background-color: #12B556;
    box-shadow: 2px 2px 5px dimgray, -2px -2px 5px dimgray;
}

.trip3-choice-button {
    margin-left : 6.5rem;
    margin-right: 6.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1.2rem;
    background-color: #eeeeee;
    border-radius: 2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;

}

.trip3-choice-button:hover {
    color: white;
    background-color: #A8120E;
    box-shadow: 2px 2px 5px dimgray, -2px -2px 5px dimgray;
}


.second-trip {
    width: 80%;
    margin:3rem;
    background: #ccfadf;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px dimgray;

}
.second-trip:hover {
    width : 82%;
    padding: 1.5rem;
    margin : 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
}

.third-trip {
    width: 80%;
    margin:3rem;
    background: #f9bdbc;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px dimgray;

}
.third-trip:hover {
    width : 82%;
    padding: 1.5rem;
    margin : 2rem;
    margin-left: 2.5rem;
    box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
}

.trip-choice-button-div {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


.homepage-user-title-h1 {
    text-align: center;
    font-size: 3rem;
}

.first-trip, .second-trip, .third-trip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
